.employers {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    overflow: scroll;
}

.employers .div {
    background-color: #ffffff;
    height: 895px;
    position: relative;
    width: 1920px;
}

.employers .overlap {
    height: 1604px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.employers .rectangle {
    background-color: #f1f2f4;
    height: 74px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1920px;
}

.employers .frame {
    align-items: flex-start;
    display: flex;
    gap: 7px;
    height: 54px;
    left: 243px;
    position: absolute;
    top: 10px;
    width: 552px;
}

.employers .first-check-box {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 36px;
    justify-content: center;
    padding: 6px 10px;
    position: relative;
    width: 60px;
}

.employers .text-wrapper {
    color: #00000080;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    margin-left: -4.5px;
    margin-right: -4.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.employers .div-wrapper {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 36px;
    justify-content: center;
    padding: 6px 10px;
    position: relative;
    width: 101px;
}

.employers .text-wrapper-2 {
    color: #0a65cccc;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.employers .first-check-box-2 {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 36px;
    justify-content: center;
    padding: 6px 10px;
    position: relative;
    width: 124px;
}

.employers .text-wrapper-3 {
    color: #00000080;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 15px;
    margin-left: -3.5px;
    margin-right: -3.5px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.employers .first-check-box-3 {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 36px;
    justify-content: center;
    padding: 6px 10px;
    position: relative;
    width: 99px;
}

.employers .first-check-box-4 {
    align-items: center;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    height: 36px;
    justify-content: center;
    padding: 5px 10px;
    position: relative;
    width: 140px;
}

.employers .line {
    height: 2px;
    left: 320px;
    position: absolute;
    top: 70px;
    width: 79px;
}

.employers .rectangle-2 {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: #e4e5e8;
    height: 134px;
    left: 0;
    position: absolute;
    top: 73px;
    width: 1920px;
}

.employers .logo-PSI {
    height: 144px;
    left: 225px;
    object-fit: cover;
    position: absolute;
    top: 68px;
    width: 206px;
}

.employers .informations {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 67px;
    justify-content: center;
    left: 1411px;
    position: absolute;
    top: 107px;
    width: 260px;
}

.employers .frame-wrapper {
    height: 45px;
    margin-left: -2px;
    position: relative;
    width: 164px;
}

.employers .frame-2 {
    align-items: center;
    border: 1px solid;
    border-color: #0a65cc;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: -1px;
    padding: 5px 18px;
    position: relative;
    width: 165px;
}

.employers .text-wrapper-4 {
    color: #0a65cc;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.44px;
    line-height: 35px;
    margin-left: -146px;
    margin-right: -116px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
    left: -50%;
}

.employers .vector {
    height: 20px;
    margin-left: -69px;
    margin-right: -146px;
    position: relative;
    width: 20px;
}

.employers .img {
    height: 20px;
    position: relative;
    width: 20px;
}

.employers .overlap-group {
    height: 16px;
    left: 4px;
    position: relative;
    top: 2px;
    width: 14px;
}

.employers .icon {
    height: 16px;
    left: 0;
    position: absolute;
    top: 0;
    width: 13px;
}

.employers .ellipse {
    background-color: var(--danger-500);
    border: 1px solid;
    border-color: var(--graywhite);
    border-radius: 3.5px;
    height: 7px;
    left: 7px;
    position: absolute;
    top: 1px;
    width: 7px;
}

.employers .profile {
    background-color: var(--secondary-400);
    border-radius: 100px;
    height: 40px;
    margin-right: -2px;
    position: relative;
    width: 40px;
}

.employers .ellipse-2 {
    height: 32px;
    left: 4px;
    object-fit: cover;
    position: absolute;
    top: 4px;
    width: 32px;
}

.employers .line-2 {
    height: 1397px;
    left: 586px;
    object-fit: cover;
    position: absolute;
    top: 207px;
    width: 1px;
}

.employers .overlap-2 {
    height: 280px;
    left: 296px;
    position: absolute;
    top: 238px;
    width: 290px;
}

.employers .sidebar-nav-tabs {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 0;
    padding: 10px 24px;
    position: absolute;
    top: 233px;
    width: 290px;
}

.employers .text-wrapper-5 {
    color: #626c70;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    width: 200px;
}

.employers .sidebar-nav-tabs-2 {
    align-items: center;
    background-color: var(--graywhite);
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 0;
    padding: 10px 24px;
    position: absolute;
    top: 0;
    width: 290px;
}

.employers .text-wrapper-6 {
    color: var(--gray-600);
    font-family: "Roboto-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    width: 200px;
}

.employers .sidebar-nav-tabs-3 {
    align-items: center;
    background-color: #eff5ff;
    box-shadow: inset 3px 0px 0px #0e5fd9;
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 0;
    padding: 10px 24px;
    position: absolute;
    top: 42px;
    width: 290px;
}

.employers .text-wrapper-7 {
    color: #0a65cc;
    font-family: "Roboto-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 20px;
    position: relative;
    width: 200px;
}

.employers .sidebar-nav-tabs-4 {
    align-items: center;
    background-color: #ffffff;
    box-shadow: none;
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 0;
    padding: 10px 24px;
    position: absolute;
    top: 84px;
    width: 290px;
}

.employers .sidebar-nav-tabs-5 {
    align-items: center;
    background-color: var(--graywhite);
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 0;
    padding: 10px 24px;
    position: absolute;
    top: 126px;
    width: 290px;
}

.employers .sidebar-nav-tabs-6 {
    align-items: center;
    background-color: var(--graywhite);
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 0;
    padding: 10px 24px;
    position: absolute;
    top: 165px;
    width: 290px;
}

.employers .sidebar-nav-tabs-7 {
    align-items: center;
    background-color: var(--graywhite);
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 0;
    padding: 10px 24px;
    position: absolute;
    top: 198px;
    width: 290px;
}

.employers .text-wrapper-8 {
    color: var(--gray-900);
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    left: 643px;
    letter-spacing: 0;
    line-height: 23px;
    position: absolute;
    top: 225px;
    white-space: nowrap;
}

.employers .text-wrapper-9 {
    color: var(--gray-900);
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 640px;
    letter-spacing: 0;
    line-height: 23px;
    position: absolute;
    top: 471px;
    white-space: nowrap;
}

.employers .text-wrapper-10 {
    color: var(--gray-900);
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 640px;
    letter-spacing: 0;
    line-height: 23px;
    position: absolute;
    top: 620px;
    white-space: nowrap;
}

.employers .sidebar-nav-tabs-8 {
    align-items: center;
    background-color: var(--graywhite);
    display: flex;
    gap: 12px;
    height: 47px;
    justify-content: center;
    left: 296px;
    padding: 10px 24px;
    position: absolute;
    top: 1011px;
    width: 290px;
}

.employers .group {
    height: 73px;
    left: 640px;
    position: absolute;
    top: 287px;
    width: 1031px;
}

.employers .text-wrapper-11 {
    color: #525355;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.28px;
    line-height: 15px;
    position: absolute;
    top: 0;
    width: 194px;
}

.employers .frame-3 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 25px;
    width: 1029px;
}

.employers .group-wrapper {
    height: 71px;
    left: 640px;
    position: absolute;
    top: 377px;
    width: 690px;
}

.employers .group-2 {
    height: 71px;
    position: relative;
    width: 692px;
}

.employers .text-wrapper-12 {
    color: #525355;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.28px;
    line-height: 15px;
    position: absolute;
    top: 0;
    width: 44px;
}

.employers .frame-4 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 23px;
    width: 690px;
}

.employers .overlap-wrapper {
    height: 72px;
    left: 1359px;
    position: absolute;
    top: 376px;
    width: 312px;
}

.employers .overlap-3 {
    height: 72px;
    position: relative;
    width: 310px;
}

.employers .text-wrapper-13 {
    color: #525355;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 1.28px;
    line-height: 18px;
    position: absolute;
    top: 0;
    width: 187px;
}

.employers .frame-5 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 48px;
    left: 0;
    opacity: 0.48;
    position: absolute;
    top: 24px;
    width: 310px;
}

.employers .text-wrapper-14 {
    color: #878f9a;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 1.28px;
    line-height: 35px;
    position: absolute;
    top: 5px;
    width: 68px;
}

.employers .bx-chevron-down {
    height: 24px;
    left: 269px;
    position: absolute;
    top: 11px;
    width: 24px;
}

.employers .frame-6 {
    align-items: flex-start;
    background-color: #ffff;
    left: 640px;
    top: 516px;
}

.employers .group-3 {
    height: 73px;
    position: relative;
    width: 312px;
}

.employers .frame-7 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 48px;
    left: 0;
    opacity: 0.48;
    position: absolute;
    top: 25px;
    width: 310px;
}

.employers .frame-8 {
    align-items: center;
    background-color: #767f8c;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 47px;
    justify-content: center;
    left: 257px;
    opacity: 0.48;
    padding: 6px 10px;
    position: absolute;
    top: 0;
    width: 52px;
}

.employers .text-wrapper-15 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.28px;
    line-height: 35px;
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.employers .group-4 {
    height: 74px;
    position: relative;
    width: 312px;
}

.employers .frame-9 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 48px;
    left: 0;
    opacity: 0.48;
    position: absolute;
    top: 26px;
    width: 310px;
}

.employers .group-5 {
    height: 72px;
    margin-right: -2px;
    position: relative;
    width: 312px;
}

.employers .frame-10 {
    align-items: flex-start;
    display: inline-flex;
    gap: 50px;
    left: 640px;
    position: absolute;
    top: 665px;
}

.employers .group-6 {
    height: 72px;
    position: relative;
    width: 312px;
}

.employers .frame-11 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 48px;
    left: -1px;
    opacity: 0.48;
    position: relative;
    top: -1px;
}

.employers .text-wrapper-16 {
    color: #878f9a;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 19px;
    letter-spacing: 1.28px;
    line-height: 35px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
}

.employers .bx-calendar-week {
    height: 24px;
    left: 270px;
    position: absolute;
    top: 11px;
    width: 24px;
}

.employers .frame-12 {
    background-color: #f9fafb;
    border-radius: 10px;
    height: 235px;
    left: 640px;
    position: absolute;
    top: 870px;
    width: 900px;
}

.employers .text-wrapper-17 {
    color: var(--gray-900);
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 474px;
    letter-spacing: 0;
    line-height: 23px;
    position: absolute;
    top: 42px;
    white-space: nowrap;
}

.employers .group-7 {
    height: 72px;
    left: 180px;
    position: absolute;
    top: 96px;
    width: 312px;
}

.employers .group-8 {
    height: 72px;
    left: 540px;
    position: absolute;
    top: 96px;
    width: 312px;
}

.employers .text-wrapper-18 {
    color: var(--gray-900);
    font-family: "Roboto-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    left: 640px;
    letter-spacing: 0;
    line-height: 23px;
    position: absolute;
    top: 1142px;
    white-space: nowrap;
}


.employers .bx-strikethrough {
    height: 24px;
    left: 146px;
    position: absolute;
    top: 122px;
    width: 25px;
}

.employers .bx-link {
    height: 24px;
    left: 204px;
    position: absolute;
    top: 121px;
    width: 25px;
}

.employers .bx-italic {
    height: 24px;
    left: 70px;
    position: absolute;
    top: 122px;
    width: 25px;
}

.employers .bx-list-ol {
    height: 24px;
    left: 261px;
    position: absolute;
    top: 123px;
    width: 25px;
}

.employers .bx-underline {
    height: 24px;
    left: 108px;
    position: absolute;
    top: 122px;
    width: 25px;
}

.employers .bx-bold {
    height: 24px;
    left: 32px;
    position: absolute;
    top: 123px;
    width: 21px;
}

.employers .bx-list-ul {
    height: 24px;
    left: 299px;
    position: absolute;
    top: 123px;
    width: 25px;
}

.employers .line-3 {
    height: 18px;
    left: 188px;
    object-fit: cover;
    position: absolute;
    top: 124px;
    width: 1px;
}

.employers .line-4 {
    height: 18px;
    left: 245px;
    object-fit: cover;
    position: absolute;
    top: 124px;
    width: 1px;
}

.employers .frame-14 {
    height: 45px;
    left: 636px;
    position: absolute;
    top: 1400px;
    width: 164px;
}

.employers .frame-15 {
    align-items: center;
    background-color: #0a65cc;
    border: 1px solid;
    border-color: #e5e5e5;
    border-radius: 8px;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 5px;
    padding: 5px 180px;
    position: relative;
    width: 165px;
}

.employers .text-wrapper-19 {
    color: #ffffff;
    font-family: "Roboto-Bold", Helvetica;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.44px;
    line-height: 35px;
    margin-left: -132px;
    margin-right: -132px;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.employers .frame-16 {
    height: 76px;
    left: 640px;
    position: absolute;
    top: 758px;
    width: 1021px;
}

.employers .text-wrapper-20 {
    color: #525355;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 18px;
    font-weight: 400;
    left: 2px;
    letter-spacing: 1.44px;
    line-height: 18px;
    position: absolute;
    top: -1px;
    width: 196px;
}

.employers .overlap-4 {
    border: 1px solid;
    border-color: #00000080;
    border-radius: 4px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 328px;
}

.employers .text-wrapper-21 {
    color: #000000;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 59px;
    letter-spacing: 1.28px;
    line-height: 35px;
    position: absolute;
    top: 5px;
    white-space: nowrap;
}

.employers .bx-x-circle-wrapper {
    background-color: #f1f2f4;
    border-radius: 5px;
    height: 49px;
    left: 970px;
    position: absolute;
    top: 27px;
    width: 51px;
}

.employers .bx-x-circle {
    height: 24px;
    left: 13px;
    position: absolute;
    top: 13px;
    width: 24px;
}

.employers .frame-17 {
    border: 1px solid;
    border-color: #00000040;
    border-radius: 5px;
    height: 48px;
    left: 362px;
    opacity: 0.48;
    position: absolute;
    top: 28px;
    width: 431px;
}

.employers .text-wrapper-22 {
    color: #878f9a;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 27px;
    letter-spacing: 1.28px;
    line-height: 35px;
    position: absolute;
    top: 5px;
    width: 100px;
}

.employers .bx-chevron-down-2 {
    height: 24px;
    left: 375px;
    position: absolute;
    top: 11px;
    width: 34px;
}

.employers .text-wrapper-23 {
    color: #878f9a;
    font-family: "Roboto-Regular", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 921px;
    letter-spacing: 1.28px;
    line-height: 35px;
    position: absolute;
    top: 1625px;
    width: 77px;
}

.employers .line-5 {
    height: 2px;
    left: 0;
    position: absolute;
    top: 1605px;
    width: 1920px;
}
